.dispo {
    margin-right: 5px;
    margin-left: 5px;
}

.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 25%;
}

.list {
    margin-top: 15px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: 15px / 1.15 Helvetica, Arial, sans-serif
}

.wrap {
    max-width: 800px;
    margin: 0 auto;
}

#main {
    flex: 1;
    transition: transform .3s
}

.panel-heading {
    background-color: #cc0033;
    color: white;
}

.panel-default {
    border: #cc0033 1px solid;
}

#places {
    scale: 0.5;
    fill: white;
}

#velos {
    fill: white;
}