button {
    margin-top: 8px;
}

.dispo {
    margin-right: 5px;
    margin-left: 5px;
}

#loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 25%;
}

.refresh {
    margin-left: 10px;
}

#search {
    margin-top: 4%;
    max-width: 150px;
}

.map-container {
    margin-bottom: 30px;
}

#content {
    overflow-y: scroll;
}