<div id="main">
    <div class="warp">
        <div class="container">
            <div id="map" class="map"></div>
        </div>
        <div class="container" *ngIf='!isLoaded'>
            <div class="alert alert-warning" role="alert" *ngIf='!isLocatedFound'>
                Assurez-vous de bien avoir activé votre GPS.
            </div>
            <img id="loading" src="./assets/img/splash.svg">
        </div>
        <div class="container list" *ngIf='isLoaded'>
            <div *ngFor='let vlille of vlilleStationList | slice:0:10;'>
                <div class="panel panel-default" (click)="selectStation(vlille.libelle);">
                    <div class="panel-heading">{{ vlille.nom }} - <span class="dispo glyphicon glyphicon-record"></span>{{ vlille.distance*1000 | number : '1.0-0'}} m</div>
                    <div class="panel-body">
                        <span class="dispo label label-default">{{ vlille.nbplacesdispo }} <span class="glyphicon glyphicon-chevron-down"></span></span>
                        <span class="dispo label label-primary">{{ vlille.nbvelosdispo }} <span class="glyphicon glyphicon-chevron-up"></span></span>
                        <span [ngClass]="( vlille.etat == 'EN SERVICE') ? 'dispo label label-success' : 'dispo label label-warning'">{{ vlille.etat}}</span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<button style="display: none;" id="refresh" class="refresh btn btn-primary btn-navbar" (click)="getData();">Refresh <span class="glyphicon glyphicon-refresh"></span></button>